    <table id="pats" data-source="<%= pats_path(format: :json) %>">
      <thead>
        <tr>
          <th>Number</th>
          <th>First Name</th>
          <th>Last Name</th> 
          <th>Edit</th>   
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>