

<div class="row">
  <h2>Listing pats</h2>
  <div class="large-8 columns">
    <table id="pats">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Number</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= render @pats %>
      </tbody>
    </table>
  </div>
  <div class="large-4 columns">
    <div><button type="button" id="bNewPat" class="button tiny radius">New Pat</button></div>
    <div id="div_form">
      <%= render 'form' %>
    </div>
  </div>
</div> 

